.header{
    margin-bottom: 2em;
}
.link-styling{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.spacer{
    flex: 1 1 auto;
}

.image-size{
    height: 50%;
    width: 70%;
}

.header-font-style{
    font-size: 1em;
    font-weight: bolder;
    color: cornsilk;
}
