<mat-toolbar color="primary" class="header">
    <span><a  mat-button class="link-styling header-font-style" routerLink="/">My Notes</a></span>
    <span class="spacer"></span>
    <ul>
        <li>
            <span><a mat-button class="link-styling" routerLink="/create" routerLinkActive="mat-accent"><img src="../../../assets/plus.png" class="image-size"></a></span>            
        </li>
        <li>
            <span><a mat-button class="link-styling" routerLink="/login" routerLinkActive="mat-accent">Login</a></span>
        </li>
        <li>
            <span><a mat-button class="link-styling" routerLink="/signup" routerLinkActive="mat-accent">Sign up</a></span>
        </li>
    </ul>
</mat-toolbar>
