.panel-spacing{
    margin-top: 1em;
}
.align-text-center{
    text-align: center;
}
.container{

}
mat-spinner{
    margin:auto;
}

.image-container{
    width: 100%;
}

.image-container img{
    width: 25%;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.5) ;
}
.paginator{
    margin-top: 1em
}