<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="container" *ngIf="!isLoading">
    <mat-accordion multi="true" *ngIf="posts.length > 0">
        <mat-expansion-panel *ngFor="let post of posts">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ post.title }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="image-container">
                    <img [src]="post.imagePath" [alt]="post.title">
                </div>
                <p>{{ post.content }}</p>
                <mat-action-row>
                    <a mat-stroked-button color="primary" [routerLink]="['/edit',post.id]">EDIT</a>
                    <button mat-stroked-button color="warn" (click)="onDelete(post.id)">DELETE</button>
                </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-paginator *ngIf="posts.length > 0" class="paginator" [length]="totalPosts" [pageSize]="postsPerPage"
        [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"></mat-paginator>
    <p *ngIf="posts.length == 0" class="mat-body-strong align-text-center"> No posts yet </p>
</div>